/* General Styles */
.book-store-page {
  padding: 20px;
  text-align: center;
  background-color: #e3e9ea;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  color: #555;
}

/* Search and Filter Containers */
.search-container,
.filter-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.search-container label,
.filter-container label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

/* Search bar and filter dropdown styling */
.search-bar,
.filter-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  max-width: 300px;
  width: 100%;
}

/* Book List */
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.book-item {
  flex: 1 1 calc(25% - 40px);
  max-width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.book-item:hover {
  transform: scale(1.05);
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.read-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.page-number {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.page-number:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 1024px) {
  .navbar ul {
    gap: 10px;
  }

  .book-item {
    flex: 1 1 calc(33.33% - 20px);
  }

  .search-container,
  .filter-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    justify-content: center;
  }

  .book-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
    gap: 8px;
  }

  .logo {
    height: 60px;
  }

  .book-item {
    flex: 1 1 100%;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .search-bar,
  .filter-select {
    width: 100%;
  }
}
